In [1]:
import pandas as pd

In [2]:
print("+"*45)
print("BLINKIT BILL".center(45))
print("+"*45)

+++++++++++++++++++++++++++++++++++++++++++++
                 BLINKIT BILL
+++++++++++++++++++++++++++++++++++++++++++++

In [3]:
recoud=[]

In [4]:
no_of_opration=int(input("enter the number of the opration"))

enter the number of the opration 3

In [5]:
for i in range(no_of_opration):
    bill={}
    bill["name"]=input("enter the name of the item")
    bill["price"]=int(input("enter the ammout of the item"))
    bill["qty"]=int(input("enter the qty of the item"))
    bill["total"]=bill["price"]*bill["qty"]
    recoud.append(bill)
df=pd.DataFrame(recoud)
df

enter the name of the item rin
enter the ammout of the item 10
enter the qty of the item 10
enter the name of the item soap
enter the ammout of the item 20
enter the qty of the item 5
enter the name of the item pink salt
enter the ammout of the item 60
enter the qty of the item 1

        name  price  qty  total
0        rin     10   10    100
1       soap     20    5    100
2  pink salt     60    1     60

In [8]:
for i in range(no_of_opration):
    bill={}
    bill["name"]=input("enter the name of the item")
    bill["price"]=int(input("enter the ammout of the item"))
    bill["qty"]=int(input("enter the qty of the item"))
    bill["total"]=bill["price"]*bill["qty"]
    recoud.append(bill)
df=pd.DataFrame(recoud)
df
print("\n" + "-"*45)
print("FINAL BILL".center(45))
print("-"*45)
print(f"{'Item':<15}{'Price':<10}{'Qty':<8}{'Total':<10}")
print("-"*45)
groud_total=0
for i in recoud:
    print(f"{'Item':<15}{'Price':<10}{'Qty':<8}{'Total':<10}")
    groud_total+=i["total"]

print("-"*45)
print(f"{'Grand Total':<33}{groud_total}")
print("-"*45)

enter the name of the item rin
enter the ammout of the item 70
enter the qty of the item 1
enter the name of the item wheel
enter the ammout of the item 20
enter the qty of the item 1
enter the name of the item salt
enter the ammout of the item 20
enter the qty of the item 2

---------------------------------------------
                  FINAL BILL
---------------------------------------------
Item           Price     Qty     Total
---------------------------------------------
Item           Price     Qty     Total
Item           Price     Qty     Total
Item           Price     Qty     Total
Item           Price     Qty     Total
Item           Price     Qty     Total
Item           Price     Qty     Total
---------------------------------------------
Grand Total                      390
---------------------------------------------